.calendar {
    font-family: '맑은 고딕';
    font-size: 1.3em;
    text-align: center;
}

.month {
    padding-left: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
}

.d-day {
    background-color: #fcc;
    color: #f33;
}

.edit div {
    padding: 5px;
}

.margin-bot {
    margin-bottom: 6px;
}

.margin-bot-sm {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 6px;
}

.margin-top-md {
    margin-top: 25px;
}

.margin-top-sm {
    margin-top: 15px;
}

.text-size-xs {
    font-size:11px;
}
.text-size-sm {
    font-size:17px;
}
.text-size-md {
    font-size:25px;
}
.text-size-lg {
    font-size:36px;
}
.text-size-h2 {
    font-size: 30px;
    font-weight:500;
}
.text-size-h3 {
    font-size:24px;
    font-weight:500;
}
.text-size-h4 {
    font-size:18px;
    font-weight:500;
}
.text-size-h5 {
    font-size:14px;
    font-weight:500;
}
.text-bold {
    font-weight: bold;
}